@import 'variables';
@import 'functions';

body {
	background: $bg;
}

:global(.title) {
	font-family: 'Myriad Pro';
	text-align : center;
	font-size: 65px;
	text-shadow : longshadow(darken($bg, 30%), $bg, 50, 0.5);
	color: #fff;
	margin: 10px 20px;
	display: inline-block;
}
