@import 'variables';
@import 'functions';

body {
	background: $bg;
}

:global(.title) {
	font-family: 'Myriad Pro';
	text-align : center;
	font-size: 50px;
	text-shadow : longshadow(darken($bg, 30%), $bg, 50, 0.5);
	color: #fff;
	margin: 10px 20px;

	&:global(.home-title) {
		display: inline-block;
	}	

	@media(min-width: 450px) {
		font-size: 65px;
	}
}

:global(.subtitle) {
	font-size: 15px;
	font-style: italic;
	display: block;
	margin-top: 5px;
	text-align: center;
	color: darken($bg, 45%);
}