@import 'variables';

@mixin placeholder() {
	input::-webkit-input-placeholder {
	  color: $bg;
	  font-style: italic;
	  font-size: 1.2rem;
	}
	input::-moz-placeholder {
	  color: $bg;
	  font-style: italic;
	  font-size: 1.2rem;
	}
	input:-ms-input-placeholder {
	  color: $bg;
	  font-style: italic;
	  font-size: 1.2rem;
	}
	input:-moz-placeholder {
	  color: $bg;
	  font-style: italic;
	  font-size: 1.2rem;
	}
}