@import 'variables';

.resultsContainer {
	h4 {
		color: darken($bg, 45%);
		text-align: center;
		.lastSavedWord {
			font-size: 15px;
			font-style: italic;
			display: block;
		}
	}
	.results {
		text-align: center;
		h2 {
			text-align: center;
    	font-size: 15px;
    	color: darken($bg, 90%);
    	.resultTotal {
    		color: darken($bg, 50%);
    		font-size: 12px;
    	}
		}
		:global(.table) {
			box-shadow: $box-shadow;
			tr {
				background: #fff;
				border-bottom: 1px solid darken($bg, 35%);
				text-align: left;
			}
		}
	}
}