@import 'variables';

.resultsContainer {
	h4 {
		color: darken($bg, 45%);
		text-align: center;
		.lastSavedWord {
			font-size: 15px;
			font-style: italic;
			display: block;
		}
		.wordCount {
			color: darken($bg, 60%);
		}
	}
	.results {
		text-align: center;
		h2 {
			text-align: center;
    	font-size: 15px;
    	color: darken($bg, 90%);
    	.resultTotal {
    		color: darken($bg, 50%);
    		font-size: 12px;
    	}
    	&.toggleShowHide {
    		transition: color 0.3s ease-in;
    		cursor: pointer;
    		&:hover {
    			color: #000;
    		}
    	}
		}
		:global(.table) {
			box-shadow: $box-shadow;
			margin-top: 12px;
			tr {
				background: #fff;
				border-bottom: 1px solid darken($bg, 35%);
				text-align: left;
				:global(.edit) {
					color: $btn-color;
					transition: color 0.3s ease-in;
					cursor: pointer;
					font-size: 14px;
					&:hover {
						color: lighten($btn-color, 15%);
					}
				}
			}
		}
	}
}