:global(.tick-holder) {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    top: 7px;
    display: none;
}
.circ {
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    transition: all 1s;
}
.tick {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    transition: stroke-dashoffset 1s 0.5s ease-out;
}
:global(.drawn) + svg :global(.path) {
    opacity: 1;
    stroke-dashoffset: 0;
}